.app{
  background-image: url(https://uploads-ssl.webflow.com/5f127ac8860f158e650f06b5/5f127dcece36df2cd5e4f713_Screen%20Shot%202020-07-17%20at%209.41.58%20PM.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}